@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

html {
    font-size: 62.5%;
    /* After doing this, 1rem=10px */
}

body {
    background-color: var(--Dark-cyan);
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

main {
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    max-width: 42rem;
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    margin: 1rem;
    -webkit-box-shadow: -1px 9px 30px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 30px -11px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 30px -11px rgba(0,0,0,0.75);
}

.card img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -5.2rem;
    margin-bottom: 2rem;
}


.card h1 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card h1 span {
    color: var(--Dark-grayish-blue);
    font-weight: 400;
}

.card p {
    color: var(--Dark-grayish-blue);
    font-size: 1.3rem;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsla(227, 10%, 46%, .3);
    padding: 3rem 5rem;
    margin-top: 3rem;
}

.card__footer p.num {
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    margin-bottom: .5rem;
}

footer.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}